---
BasedOnStyle: Google
AlignConsecutiveAssignments: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BinPackArguments: 'false'
BinPackParameters: 'true'
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'false'
IncludeBlocks: Preserve
IndentWidth: '4'

...
